
body{
  height: 2000px;
  background: white;

}
//头部样式
#header{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  z-index: 100;

  .container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .header-left{
      position: relative;
      .head-link{
        height: 65px;
        font-size: 40px;
        line-height: 65px;

        float: left;
        .head-link img{
          margin-top: 8px;
        }
      }
    }
    .header-right{
      border-color: #e7e7e7;
      margin-top: 10px;
      .header-list {
        li { float: left;
          a{
              color: #121212;
              padding: 10px 15px;
              line-height: 41px;
              font-weight: bold;

          }
          a:hover{
            color: #e94840;
            transition: 0.5s;
          }
          a:active{
            color: #e94840;
          }


          img{
            vertical-align: middle;
          }
          .active{
            color: #e94840;
            background-color: #fff;
            margin-left: 40px;
          }
          #shanghu{
            background:#e94840;
            color: white;
            border-radius: 5px;
            padding: 4px 6px;
            margin-top: 5px;
            margin-left: 15px

          }
        }
        #position{
          padding-left: 60px;
        }
      }
    }
  }
}

//图片切换
.nav-content{
  width: 100%;
  position: relative;
  top: 65px;
  margin-bottom: 100px;
  .nav-bg{
    width: 100%;
    height: 420px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    .bg{
      height: 420px;
      li {
         float: left;
         height: 420px;
         overflow: hidden;
         width: 100%;

      }
      .bg3{
        background-image: url("../images/banner1.jpg");
        height: 420px;
        position: absolute;
        background-position: -280px 0;

      }
      .bg2{
        background-image: url("../images/banner2.jpg");
        height: 420px;
        position: absolute;
        background-position: -280px 0;



      }
      .bg1{
        background-image: url("../images/banner3.jpg");
        height: 420px;
        position: absolute;
        background-position: -280px 0;



      }
    }
  }
  //小圆点
  .nav-circle{
    position: absolute;
    height: 10px;
    width: 100px;
    top:400px;
    left: 670px;
    z-index: 50;


    span{
      display: inline-block;
      cursor: pointer;
      border: 1px solid #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #333;
      margin-right: 5px;

    }


  }

  //一级菜单
  #nav-banner{
    width: 180px;
    position: absolute;
    top:0;
    left: 100px;
    .banner-list{
      width: 180px;
      background: #757881;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      li{
        height: 42px;
        line-height: 42px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        padding-left: 45px;
        position: relative;
        p{
          font-weight: bold;
        }
        img{
          position: absolute;
          right: 35px;
          top: 20px;
        }
        //二级菜单
        ul{
          position: absolute;
          left: 180px;
          background: rgba(255,255,255,0.9);
          width: 160px;
          height: 420px;
          top:0;
          li{

            height: 42px;
            line-height: 42px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
          }
          a{
            font-weight: bold;
            color: #121212;
          }
          a:hover{
            color: #e94840;
            transition: color 0.5s;
          }

        }

      }

    }

    }
  }

//多行文本
.box1{
  width: 100%;
  background: #fff;
  margin-top: 60px;
  .fff{
    width: 1200px;
    margin: 0 auto;
    //padding: 50px 0;
    clear: both;
    .service{
      .navigation{
        text-align: center;
        span{
          display: block;
        }
        .serviceIndex{
          color: #3d3838;
          font-weight: 800;
          font-size: 28px;
          font-family: "Microsoft YaHei";

        }
        .serviceType{
          font-size: 22px;
          margin-top: 15px;
          a{
            color: #3d3838;
          }
          a:hover{
            color: #e94840;
            transition: color 0.5s;
          }

        }
      }
      .listHeader{
        text-align: right;
        .more{
          a{
            font-size: 18px;
          }
          a:hover{
            color: #e94840;
            transition: color 0.5s;
          }
        }
      }
      .row{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        display: flex;


        a{
          //position: relative;
          margin-bottom: 0;

          .serviceBorder {

            width: 230px;
            border: 1px solid #eaeaea;
            background: #fff;
            cursor: pointer;
            height: 345px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin: 0 5px;
            img {
               padding: 5px 10px 0;
               width: 210px;
               height: 210px;
            }
            .service_Lists{
              font-size: 14px;
              padding: 10px 0;
              font-weight: 800;
              color: #000;
              height: 28px;
              margin-left: -140px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis
            }
            .servicePrice{
              white-space: normal;
              overflow: hidden;
             text-overflow: ellipsis;
              color: #929292;
              padding: 5px 0;
              font-size: 13px;
              line-height: 18px;
              height: 58px;
            }
            .price{
              font-size: 14px;
              padding: 5px 5px;
              font-weight: 600;
              height: 20px;
              line-height: 20px;
              color: #fb474f;
              span{
                font-size: 20px;
              }
              .btn{
                float: right;
                padding: 0;
                width: 76px;
                height: 24px;
                line-height: 22px;
                text-align: center;
                background: #fb474f;
                border-radius: 5px;
                color: #fff;
                font-size: 14px;
              }

            }




          }}

      }
    }

  }
}

.footer{
  width: 100%;
 text-align: center;
  padding-top: 60px;

  .baozhang{
    span{
      font-size: 30px;
      font-weight: 800;
    }
    .middle{
      color: #e94840;

    }
    h2{
      font-size: 22px;
      color: #3d3838;
      margin-top:10px;
    }

  }
  .anquan{
    width: 100%;
    height: 66px;
    background: #fff;
    padding-top: 20px;
    ul{
      width: 420px;
      display: flex;
      margin-left: 500px;
      li{
          width: 420px;
          flex: 33.33%;
        img{
          vertical-align: middle;
          margin-right: 10px;
        }

      }

    }
  }
  .hotcity{
    width: 100%;
   span{
      display: block;
      float: left;
      font-size: 18px;
      font-weight: 800;
       margin-left: 80px;

  }
    .hotcityList{
      margin-left: 200px;


      ul{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        li{
          a{
            font-size: 18px;
            color: #898989;
            font-weight: 200;
            cursor: pointer;

          }

        }

      }

    }


  }
}
.shops{
  width: 100%;
 padding-top: 50px;
  #hit{

    bottom: 20px;
    text-align: left;
    font-weight: bold;
    width: 1200px;
    margin: 0 auto;
    background: none;
    color: #1d1515;
    font-size: 18px;

  }
  .hezuo{
    width: 1200px;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    li{
      flex: 1;
      ursor: pointer;
      height: 60px;
      width: 120px;
      img{
        height: 60px;
        width: 120px;
        border: 1px solid lavender;


      }
    }

  }

}
.item{
  margin-top: 50px;
  p{
   margin-left: 80px;
    color: #898989;
  }
}
















